<div class="container">
  <div class="box-1">
      <div class="content-holder">
        <img src="assets/images/logoPSBV2.svg" />
      </div>
  </div>
  <div class="box-2">
    <form [formGroup]='form' (ngSubmit)="login()">
      <div class="login-form-container">
          <h1>Login Admin</h1>
          <input type="text" placeholder="Email" formControlName="email" class="input-field">
          <br><br>
          <input type="password" placeholder="Password" formControlName="password" class="input-field">
          <br><br>
          <button class="login-button" type="submit" class="login-button">Login</button>
      </div>
    </form>
  </div>