<!-- <div>
    <ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable>
  </div>
 -->

 <div class="row"> 
    <div class="col-lg-12">
      <div class="card card-form">
        <div class="card-body">
            <form [formGroup]="formSearch">
          <div class="row">
              <div class="col-lg-3">
                <div class="searchContainer">
                  <span class="icon">
                    <i class="fa fa-search"></i>
                  </span>
                  <input type="text" (keyup)="search()" formControlName="search" class="form-control form-search"
                    placeholder="Tìm kiếm..." />
                </div>
              </div>
              <div class="col-lg-3">
              </div>
              <div class="col-lg-3">
                
              </div>
              <div class="col-lg-3">
                <div class="card">
                  <button type="button" class="btn btn-success btn-create" (click)="addNewItem()">Thêm Mới</button>
                </div>
              </div>
          </div>
            </form>
  
          <div class="table">
            <ngx-datatable #table class='material expandable striped' [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="80" [rowHeight]="50" [rows]='tableData' [messages]="messages">
              <ngx-datatable-column style="width: 60px !important;" name="STT" [sortable]="false" [resizeable]="false"
                [canAutoResize]="false" [maxWidth]="50">
                <ng-template style="width: 60px !important;" let-rowIndex="rowIndex" let-row="row"
                  ngx-datatable-cell-template>
                  <strong style="width: 60px !important;">{{rowIndex + 1}}</strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tên thánh" cellClass="textalignleft" prop="namegod" >
              </ngx-datatable-column>
              <ngx-datatable-column name="Họ tên" cellClass="textalignleft" prop="fullname" >
              </ngx-datatable-column>
              <ngx-datatable-column name="Ngày sinh" cellClass="textalignleft" prop="birthday" >
              </ngx-datatable-column>
              <ngx-datatable-column name="Lớp" cellClass="textalignleft" prop="class" >
              </ngx-datatable-column>
              <ngx-datatable-column name="Giáo xóm" cellClass="textalignleft" prop="groupgod" >
              </ngx-datatable-column>
              <ngx-datatable-column name="Cha mẹ" cellClass="textalignleft" prop="parent" >
              </ngx-datatable-column>
              <!-- <ngx-datatable-column name="Kind user" cellClass="textalignleft">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.role | convertDataViewPipe : arrRole}}
                </ng-template>
              </ngx-datatable-column> -->
              <!-- <ngx-datatable-column name="Hành động" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i class="fa fa-pencil-square-o icon-action" aria-hidden="true" (click)="editItem(row.id)"></i>
                    <i  class="fa fa-times-circle icon-garbage active-button"
                    aria-hidden="true" (click)="getIdActive(row.id)"></i>
                </ng-template>
              </ngx-datatable-column> -->

              <ngx-datatable-column name="Hành động" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <i class="fa fa-pencil-square-o icon-action" aria-hidden="true" (click)="editItem(row.id)"></i>
                  <i  class="active-button fa fa-times-circle"
                    title="Xóa nhân viên" data-toggle="modal" data-target="#deleteRow" (click)="DeleteItem(row.id)"></i>
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                  <div class="col-6 col-md-6">
                    <!-- <span *ngIf="selectedMessage">
                      {{selectedCount.toLocaleString()}} {{ selectedMessage }} /
                    </span> -->
                    DIsplay
                    <!-- <select [(ngModel)]="pageResult.per_page" (click)="selectItemPerPage()">
                      <option *ngFor="let e of element" value={{e.number}}>{{e.name}}</option>
                    </select> -->
                    <!-- <span class="soluong"> in total {{pageResult.total_objects}} result</span> -->
                  </div>
                  <datatable-pager class="col-6 col-md-6" [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="pageResult.page" [size]="pageResult.per_page"
                    [count]="pageResult.total_objects" (change)="table.onFooterPage($event)"
                    (change)="changePage($event)">
                  </datatable-pager>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- MODAL CHINH SUA STORE -->
<!-- <div id="deleteRow" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Bạn có chắc chắn muốn xóa nhân viên này không?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="DeleteItem()">Có</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div> -->

  <ng-template #changeStatus>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Bạn chắc chắn muốn xóa học sinh này?</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="changeActive()">đồng ý</button>
      <button type="button" class="btn btn-dark" (click)="modalRef.hide()">không</button>
    </div>
  </ng-template>