/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr.css';
@import '~font-awesome/scss/font-awesome.scss';

.toast.toast-success{
    background-color: #51A351 !important;
  }
  .toast.toast-error{
    background-color:#BD362F !important;
  }
  .toast.toast-warning{
    background-color: #f89406 !important;
  }
  .toast-success , .toast-error, .toast-warning{
    opacity: 1 !important;
  }
  .cdk-overlay-container { 
    z-index: 1200; 
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "DM Sans", sans-serif; }


.icon-action {
    font-size: 15px;
    margin: 0px 5px;
    cursor: pointer;
}

// ::ng-deep .row-color {
//   font-weight: 900 !important;
// }

